################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FileStorage/v16
/FileStorage/obj
/FileStorage/bin